h2
{
    color : blueviolet;
}

body
{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.centeredbody
{
    display: flex;
    justify-content: center;
}

.centeredmain
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer
{
    background-color: antiquewhite;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
}

header
{
    background-color: lightcoral;
}

main
{
    background-color: bisque;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
}

ul
{
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

a
{
    text-decoration: none;
}

html
{
    margin: 0;
    padding: 0;
    height: 100%;
}

.textpadding
{
    padding: 10px;
}

.textshadow
{
    text-shadow: 1px 2px 3px #512351;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

li a
{
    color: darkblue;
}

.pictureborder
{
    border: 3px dashed aquamarine;
}

button
{
    width: 120px;
    height: 80px;
    margin: 15px;
    border-color: aqua;
    color: red;
    text-shadow: 1px 1px 2px #571822;
}

.wrapper
{
    width: 80%;
    margin: 0 auto;
    background-color: wheat;
    padding-left: 30px;
}

.flex-between-center
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-centered
{
    display: flex;
    justify-content: center;
}

.text-button-row-centered
{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.block-margin
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.block
{
    width: 300px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-info-block
{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 5px 10px 5px;
    padding: 10px;
}

.author-info-block
{
    height: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.author-info-block img
{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.for-main-form
{
    display: flex;
    justify-content: center;
}

.for-form
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
}

.form
{
    height: 500px;
    width: 300px;
    border: 5px solid lightblue;
    border-radius: 70px;
    box-shadow: 0px 0px 11px 2px blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.form-flex
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-between-center
{
    display: flex;
}

.flex-button
{
    display: flex;
}

.input-style
{
    background-color: aquamarine;
    border: 2px solid blue;
    border-radius: 5px;
    width: fit-content;
}

.dark-theme-text
{
    color: white;
}

.dark-theme
{
    background-color: black;
}

.dark-theme-border
{
    border: 2px solid white;
    border-radius: 10px;
}

p
{
    word-wrap: break-word;
}