h2
{
    color : blueviolet;
}

body
{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

footer
{
    background-color: antiquewhite;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
}

header
{
    background-color: lightcoral;
}

main
{
    background-color: bisque;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
}

ul
{
    margin: 0;
    list-style: none;
}

a
{
    text-decoration: none;
}

html
{
    margin: 0;
    padding: 0;
}

.textpadding
{
    padding: 10px;
}

.textshadow
{
    text-shadow: 1px 2px 3px #512351;
}

li a
{
    color: yellow;
}

.pictureborder
{
    border: 3px dashed aquamarine;
}

button
{
    width: 120px;
    height: 80px;
    margin: 15px;
    border-color: aqua;
    color: red;
    text-shadow: 1px 1px 2px #571822;
}